@mixin shrink-label {
  font-size: 1rem;
  bottom: 2.5rem;
  color: #ee2400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.form-input {
  position: relative;

  margin: 2rem 0;

  label {
    position: absolute;
    left: 0.4rem;
    bottom: 0;
    transition: all 0.5s;
    font-size: 1.5rem;
    color: thistle;
    z-index: -95;
  }

  input {
    border: none;
    outline: none;
    border-bottom: 1px solid green;
    padding: 0.4rem;
    font-size: 1.5rem;
    z-index: 99;

    background-color: transparent;

    &:focus + label {
      @include shrink-label();
    }
  }

  .shrink {
    @include shrink-label();
  }
}
