@mixin d-flexes($justify: space-between) {
  display: flex;
  justify-content: $justify;
  align-items: center;
}

$nav-color: #ffffff;

a {
  text-decoration: none;
  color: black;

  &:hover {
    text-decoration: underline;
  }
}

.navbar-main {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;

  padding: 0.5rem;
  @include d-flexes();
  background-color: $nav-color;
  box-shadow: 0 1px 5px gray;

  .navbar-options {
    width: 50%;
    @include d-flexes(space-evenly);
    // background: #acacac;
  }

  .login-container {
    display: flex;
    align-items: center;

    .signout-content {
      display: flex;
      align-items: center;

      .sign-out-btn {
        cursor: pointer;
        background-color: green;
        color: white;
        padding: 5px 10px;
        border: 1px solid green;
        border-radius: 5px;
        transition: 0.3s;
        vertical-align: middle;
        margin-left: 10px;
        &:hover {
          background-color: #fff;
          color: #f00000;
          border: 1px solid #f00000;
        }
      }

      .login-icon {
        width: 40px;
        margin-right: 5px;
        border: 1px solid green;
        border-radius: 50%;
      }
    }
  }
}
