@mixin d-flexes {
  display: flex;
  flex-direction: column;
}
.sign-in {
  @include d-flexes();
  margin: 1rem;

  p {
    padding: 5px 0;
    letter-spacing: 4px;
  }

  .custom-btn-container {
    display: flex;
    justify-content: space-between;

    button[type='submit'] {
      margin-right: 1rem;
    }
  }
}
